/* nejsme vcerejsi, pouzivame moderni a intuitivni box model */
/* toto je černá magie, na kterou nešahej! */
html { box-sizing: border-box; }
*, ::after, ::before { box-sizing: inherit; }

/*
BARVY
czechitas                 #b92e81
šedé pozadí stránky       #bdc3c7
tmavé pozadí pod textem   #31363b
dělítka mezi tlačítky     #3f464d
tlačítko portfolio        #e74c3c
tlačítko facebook         #3b5998
tlačítko twitter          #1da1f2
*/


body {
  background-color: #bdc3c7;
}
.profil {
  background-color: #31363b;
  width: 350px;
  box-shadow: 0px 5px 5px 0px #687395;

}

.obsah {
  padding: 25px;
}

h1 {
  color: #ffff;
  font-family: 'Montserrat', sans-serif;
  font-size: 35px;
}

p {
  font-family: 'Source Sans Pro', sans-serif;
  color: #bdc3c7;
  font-size: 20px;
  line-height: 1.5;
}

.odkazy {
  font-family: 'Montserrat', sans-serif;
  font-size: 25px;
  text-transform: uppercase;
  padding: 0;
  text-align: center;
  cursor: pointer;
}

.foto {
  width: 100%;
}

.logo {
  background-color: #b92e81;
  border-radius: 50%;
  width: 5%;
  height: 10%;
  position: absolute;
  bottom: 450px;
  left: 250px;
  box-shadow: 0px 3px 10px 0px #272743;
}


.portfolio {
  display: inline-block;
  width: 350px;
  height: 60px;
  border-top: 2px solid #3f464d;

}


.portfolio:hover,
.portfolio:focus,
.portfolio:active{
  background-color: #e74c3c;
}

.facebook, .twitter {
  display: inline-block;
  width: 175px;
  height: 60px;
  border-top: 2px solid #3f464d;
}

.facebook {
  border-right: 1px solid #3f464d;
}

.facebook:hover,
.facebook:focus,
.facebook:active{
  background-color: #3b5998;
}

.twitter {
  border-left: 1px solid #3f464d;
}

.twitter:hover,
.twitter:focus,
.twitter:active{
  background-color: #1da1f2;
}

